html, body, .grid-container { height: 100%; margin: 0; }

/* .grid-container * { 
 border: 1px solid red;
 position: relative;
} */


div {
  text-overflow: ellipsis;
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 8% 1fr 5%;
  grid-template-areas: "header header header" 
                       ". courts court-view" 
                       'footer footer footer';
  grid-row-gap: 10%;
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 4% 1fr auto;
    grid-template-areas: "header"
                         "courts"
                         "court-view";
    grid-row-gap: 0;
  }
}

.header {
  padding: 0 2%;
  background-color: #006A96;
  color: #ffffff;
  grid-area: header;
  border-bottom: solid 3px #ffcd00;
}

.header * {
  color: #ffffff;
  padding: 0 1%;
}

.courts {
  display: grid;
  padding: 0px 5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "court-6 court-3" 
                       "court-5 court-2" 
                       "court-4 court-1";
  gap: 1rem; 
  grid-area: courts;
  max-width: 90vw;
}

.court-1, .court-2, .court-3, .court-4, .court-5, .court-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas: "." "." "queue-button";
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.queue-button { grid-area: queue-button; }

.court-1 { grid-area: court-1; }

.court-2 { grid-area: court-2; }

.court-3 { grid-area: court-3; }

.court-4 { grid-area: court-4; }

.court-5 { grid-area: court-5; }

.court-6 { grid-area: court-6; }

.court-view {
  height: 100%;
  padding: 0 20px;
  /* display: grid;
  grid-template-rows: auto repeat(auto, 1em);
  grid-template-areas: 'title' '.' '.' '.' '.' '.';
  column-gap: 1em;
  grid-auto-flow: column; */
  grid-area: court-view;  
}

.court-view * {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.login-modal {
  background-color: grey;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  visibility: visible;
}

/* .queue {
  display:block;
  width: 100px;
  overflow: hidden;
} */

.courtview-items {
  /* display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: auto; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(6,auto);
}