html, body, .grid-container { height: 100%; margin: 0; }

/* .grid-container * { 
 border: 1px solid red;
 position: relative;
} */

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 8% 1fr 5%;
  grid-template-areas: "header header header" 
                       ". courts court-view" 
                       ". . .";
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 1fr;
    grid-template-areas: "header"
                         "courts"
                         "court-view"
  }
}

.header {
  padding: 0px;
  background-color: grey;
  grid-area: header;
}

.courts {
  display: grid;
  padding: 0px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "court-6 court-3" 
                       "court-5 court-2" 
                       "court-4 court-1";
  gap: 1rem; 
  grid-area: courts;
}

.court-1, .court-2, .court-3, .court-4, .court-5, .court-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas: "." "." "queue-button";
  grid-area: court-1;
}

.queue-button { grid-area: queue-button; }

.court-1 { grid-area: court-1; }

.court-2 { grid-area: court-2; }

.court-3 { grid-area: court-3; }

.court-4 { grid-area: court-4; }

.court-5 { grid-area: court-5; }

.court-6 { grid-area: court-6; }

.court-view {
  height: 100%;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: auto repeat(auto, 1em);
  grid-template-areas: 'title' '.' '.' '.' '.';
  column-gap: 1em;
  grid-auto-flow: column;
  grid-area: court-view; 
}

.court-view * {
  margin: 0px;
}

